/* pink {color: #f4b496;}
cream {color: #f2d380;}
dark blue {color: #122f78;}
med blue {color: #146087;}
light blue {color: #159397;} */

/* * */
/* **CONTENTS** */
/* MAIN ELEMENTS */
/* NAVIGATION */
/* CATEGORIES */
/* PRODUCTS */
/* DETAILS */
/* * */

/* MAIN ELEMENTS */

* {
  box-sizing: border-box;
  border: 0;
  padding: 0;
  margin: 0;
}

#app {
  font-family: "Montserrat", sans-serif;
}

#app > div {
  padding: 20px;
}

h1 {
  display: inline;
  font-family: "Righteous", cursive;
  font-size: 3em;
  color: #ffffff;
  margin-right: 30px;
}

h2 {
  color: #159397;
}

h3 {
  color: #122f78;
}

/* NAVIGATION */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #122f78;
  padding: 20px 10px;
}

nav a {
  color: #ffffff;
  font-size: 1.5em;
  text-decoration: none;
  margin: 0px 15px;
}

nav a:hover {
  text-decoration: underline;
}

nav .material-icons-outlined {
  margin-top: 5px;
}

.material-icons-outlined:hover {
  color: #f4b496;
  cursor: pointer;
}

#search-bar {
  display: flex;
}

#search-bar input {
  flex: 2;
  height: 40px;
  font-size: 1.5em;
  padding: 5px;
}

#search-bar button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  color: #122f78;
}

#register {
  box-shadow: 0px, 10px, 10px, #000000;
  width: 800px;
  height: 80%;
}

input {
  background-color: #eeeeee;
}

/* CATEGORIES */

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.category-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
  max-width: 400px;
  max-height: 400px;
  margin: 10px;
}

.category-card:hover {
  cursor: pointer;
}

.category-card img {
  width: 90%;
  height: 80%;
  object-fit: cover;
  border-radius: 15px;
}

/* PRODUCTS */

#all-products {
  display: flex;
  flex-wrap: wrap;
}

#all-products a {
  text-decoration: none;
}

.thumbnail-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
  margin: 1rem;
  width: 30vw;
  min-width: 200px;
  max-width: 300px;
}

.thumbnail-product-image {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10%;
  margin: 5%;
  border-bottom: rgb(223, 223, 223) 2px solid;
}

.thumbnail-product-image img {
  width: 90%;
}

/* DETAILS */

.error-message {
  color: rgb(256, 0, 0);
}

.material-icons-outlined {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
}

.product-image img {
  max-height: 500px;
  max-width: 500px;
  padding: 2rem;
}

img.image-thumbnail {
  min-height: 200px;
  max-height: 200px;
  max-width: 300px;
  padding: 1rem;
}

.my-cart {
  margin: 16px;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-right: 50px;
}

.total,
.summary {
  text-align: right;
}

.total {
  align-items: right;
  padding-top: 16px;
}

.cart-items {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem;
}

.cart-box {
  box-sizing: border-box;
  padding: 16px;
  border-top: 1px solid black;
}

.checkout-title,
.order-title,
.account-title {
  text-align: center;
  margin-bottom: 40px;
  text-transform: uppercase;
  font-size: 50px;
  text-shadow: 3px 2px 10px rgba(0, 0, 0, 0.58);
}

#account-details {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

#login {
  width: 300px;
  overflow: hidden;
  margin: auto;
  padding: 80px;
  text-align: center;
  background: #e4daa7;
  border: rgb(223, 223, 223) 5px solid;
  box-Shadow: 1px 1px 5px;

}

#login h2 {
  color: white;
}

#login input {
  border-radius: 4px;
  height: 30px;
  margin-bottom: 10px;
}

#login-form {
  margin: 10px 0px;

}

.username {
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 3px;
  padding-left: 8px;
}

.password {
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 3px;
  padding-left: 8px;
}

.btn {
  background: #122f78;
  width: 100px;
  margin-top: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  border-radius: 4px;
  border: #0d2257 1px solid;
}

#register {
  width: 350px;
  overflow: hidden;
  margin: auto;
  padding: 80px;
  text-align: center;
  background: #e4daa7;
  border: rgb(223, 223, 223) 5px solid;
  box-Shadow: 1px 1px 10px;

}

#register label {
  display: block;
  padding: 5px;
}

#register h2 {
  color: white;
}

#register input {
  width: 100%;
  border-radius: 4px;
  height: 30px;
  margin-bottom: 10px;
}

#register-form {
  text-align: left;
}

.btn:hover {
  background: #1d3675e5;
}
