/* pink {color: #f4b496;}
cream {color: #f2d380;}
dark blue {color: #122f78;}
med blue {color: #146087;}
light blue {color: #159397;} */

/* * */
/* **CONTENTS** */
/* MAIN ELEMENTS */
/* NAVIGATION */
/* CATEGORIES */
/* ALL PRODUCTS */
/* PRODUCT */
/* ORDER */
/* DETAILS */
/* MEDIA QUERIES */
/* * */

/* MAIN ELEMENTS */

* {
  box-sizing: border-box;
  border: 0;
  padding: 0;
  margin: 0;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 12pt;
}

#app {
  min-height: 100vh;
  position: relative;
}

#window {
  padding: 30px;
}

h1 {
  display: inline;
  font-family: "Righteous", cursive;
  font-size: 3rem;
  color: #ffffff;
}

h2 {
  background-color: #146087;
  color: #ffffff;
  font-size: 3.5rem;
  text-align: center;
  padding: 0.25em;
}

h3 {
  color: #122f78;
}

footer {
  background-color: #aaaaaa;
  color: #ffffff;
  width: 100%;
  height: 2rem;
  padding: 5px;
  position: absolute;
  bottom: 0;
}

/* NAVIGATION */

nav {
  display: flex;
  flex-direction: column;
  background-color: #122f78;
  box-shadow: 2px 0px 5px 5px #aaaaaa;
  padding: 20px 15px;
}

#nav-top {
  display: flex;
  margin-bottom: 1rem;
}

#search-bar {
  flex-grow: 2;
  display: flex;
  align-items: center;
  margin-left: 2rem;
}

#search-bar input {
  height: 40px;
  width: 90%;
  min-width: 150px;
  border-radius: 1px 20px 20px 1px;
  font-size: 1.5rem;
  padding: 5px;
}

#search-ball {
  background: radial-gradient(
    circle at 70% 30%,
    #f4b496 10%,
    #ed8351 40%,
    #963b10 100%
  );
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: relative;
  right: 36px;
}

#search-ball:hover {
  background: radial-gradient(
    circle at 70% 30%,
    #f4b496 15%,
    #ed8351 50%,
    #963b10 90%
  );
}

#nav-bottom {
  display: flex;
  justify-content: space-between;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-text {
  margin-right: 10px;
}

.nav-text:hover {
  text-decoration: underline;
}

.nav-icon {
  display: none;
}

nav a {
  color: #ffffff;
  font-size: 1.5rem;
  text-decoration: none;
  margin: 0px 15px;
}

nav .material-icons {
  font-size: 2rem;
}

.material-icons:hover {
  color: #f4b496;
  cursor: pointer;
  text-decoration: none;
}

/* CATEGORIES */

#categories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 20px 0px;
}

.category-card {
  display: grid;
  grid-template-rows: 1fr 2em;
  text-align: center;
  color: #146087;
  font-size: 2.5rem;
  font-weight: bold;
  filter: grayscale(60%);
  transition: filter 0.5s;
}

.category-card:hover,
.category-card:active {
  cursor: pointer;
  filter: none;
}

.category-card img {
  width: 90%;
  height: 90%;
  object-fit: cover;
  border-radius: 15px;
  margin: auto;
}

.category-card img:hover {
  box-shadow: 2px 0px 10px 5px #aaaaaa;
}

/* ALL PRODUCTS */

#all-products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#all-products a {
  text-decoration: none;
}

.thumbnail-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
  margin: 1rem;
}

.thumbnail-product-image {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10%;
  margin: 5%;
  border-bottom: #dfdfdf 2px solid;
}

.thumbnail-product-image img {
  width: 90%;
}

#all-products-link {
  height: 1rem;
  margin-top: 10px;
}

#all-products-link:hover {
  color: #122f78;
  text-decoration: underline;
  cursor: pointer;
}

/* PRODUCT */

#product {
  display: flex;
  flex-direction: column;
}

#product ul {
  padding-left: 10px;
}

#product ul a {
  text-decoration: none;
}

#product h2 {
  background-color: #ffffff;
  color: #146087;
  font-size: 2em;
  text-align: start;
  padding-left: 10px;
  margin-bottom: 20px;
  width: 100%;
}

#product img {
  width: 40vw;
  align-self: center;
}

#product div {
  width: 100%;
}

.product-box {
  background-color: #f0f0f0;
  padding: 10px;
  margin: 5px 0px;
  border-radius: 5px;
}

#product-price {
  font-weight: bold;
  font-size: 1.5rem;
  padding: 10px;
}

#product-form {
  display: flex;
  margin: 5px 0px 30px 0px;
}

#product-form button:hover {
  cursor: pointer;
}

#product-form .quantity-button {
  width: 3rem;
  height: 4rem;
  font-size: 20px;
}

#product-form .quantity {
  width: 5rem;
  height: 4rem;
  font-size: 20px;
}

#add-to-cart {
  background-color: #146087;
  color: #ffffff;
  margin-right: 1rem;
  border-radius: 5px;
  width: 300px;
  height: 4rem;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

#add-to-cart:hover {
  background-color: #0e4058;
  color: #ffffff;
}

/* ORDER */

#cart {
  display: grid;
  grid-template-columns: 1fr 1fr 250px;
  row-gap: 15px;
}

#cart h2 {
  grid-column: 1 / 4;
}

#cart-items {
  grid-column: 1 / 3;
}

.order-product {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  margin: 15px 0px;
  height: 100px;
}

.order-product img {
  width: 100px;
  grid-row: 1 / 3;
  align-self: center;
}

.order-product .quantity-button {
  width: 2rem;
  height: 2rem;
  font-size: 12pt;
}

.order-product .quantity {
  width: 3rem;
  height: 2rem;
  font-size: 12pt;
}

.order-product-edit button {
  background-color: #146087;
  color: #ffffff;
  margin: 10px 10px 0px 0px;
  border-radius: 5px;
  width: 112px;
  height: 2rem;
  font-size: 12pt;
  font-weight: bold;
  text-align: center;
}

.order-product-edit button:hover {
  background-color: #0e4058;
}

#checkout {
  grid-area: 2 / 3 / 3 / 4;
  align-self: end;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}

#checkout button {
  background-color: #146087;
  color: #ffffff;
  border-radius: 5px;
  width: 150px;
  height: 3.5rem;
  margin-top: 15px;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

#checkout button:hover {
  background-color: #0e4058;
  color: #ffffff;
}

/* DETAILS */

.error-message {
  color: rgb(256, 0, 0);
}

#account-details {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.account-header {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
}

.account-subheader {
  color: #ffffff;
  font-size: 1.5rem;
  text-align: center;
}

.account-form {
  width: 70%;
  max-width: 700px;
  padding: 40px;
  margin: 5% auto;
  border: 5px solid #f2d380;
  background: linear-gradient(#122f78 50%, #15939720 100%);
}

.account-form label {
  display: flex;
  color: #ffffff;
}

.account-form input {
  border-radius: 4px;
  height: 30px;
}

.account-form input[type="text"],
.account-form input[type="password"] {
  flex-grow: 2;
  padding: 5px;
}

#login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px 0px;
  height: 60%;
  width: 100%;
}

#login label {
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px;
  width: 100%;
}

#login input[type="text"],
#login input[type="password"] {
  margin: 0px 10px;
}

#register label {
  flex-direction: column;
  margin: 10px 0px;
}

#register input {
  margin-top: 5px;
}

.btn {
  background: #122f78;
  width: 100px;
  margin-top: 15px;
  color: white;
  border-radius: 4px;
  border: #0d2257 1px solid;
}

.btn:hover {
  background: #1d3675e5;
}

.quantity-button {
  background-color: #ffffff;
  border: 1px solid #146087;
  text-align: center;
}

.quantity-button:hover {
  background-color: #146087;
  color: #ffffff;
}

.button-decrement {
  border-radius: 5px 0px 0px 5px;
  border-right: none;
}

.quantity {
  background-color: #ffffff;
  border: 1px solid #146087;
  text-align: center;
}

.button-increment {
  border-radius: 0px 5px 5px 0px;
  border-left: none;
}

/* MEDIA QUERIES */

@media screen and (max-width: 600px) {
  html {
    font-size: 8pt;
  }
  #window {
    padding: 15px;
  }
  h1 {
    text-align: center;
    margin-bottom: 10px;
  }
  #nav-top {
    flex-direction: column;
  }
  #search-bar {
    margin-left: 0px;
  }
  #search-bar input {
    border-radius: 1px;
    width: 100%;
  }
  #search-ball {
    display: none;
  }
  nav .material-icons {
    font-size: 22pt;
  }
  .nav-text {
    display: none;
  }
  #categories {
    grid-template-columns: 1fr 1fr;
  }
  .category-card {
    font-size: 12pt;
  }
  #all-products {
    grid-template-columns: 1fr;
  }
  .account-form {
    width: 100%;
    padding: 10px;
  }
  #quantity {
    width: 3.5rem;
  }
  #add-to-cart {
    flex-grow: 2;
    width: 150px;
  }
  #cart {
    grid-template-columns: 1fr 1fr 0px;
  }
  #cart h2 {
    grid-column: 1 / 3;
  }
  #cart-items {
    grid-column: 1 / 2;
  }
  .order-product {
    display: flex;
    flex-direction: column;
  }
  #checkout {
    grid-area: 2 / 2 / 3 / 3;
  }
  #checkout button {
    width: 120px;
  }
  #register {
    width: 100%;
  }
}

/* @media only screen and (min-width: 1200px) {
  //
} */
